.post {
    width:300px;
    height: 400px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.post header {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    text-transform: uppercase;
}

.post img {
    width: 280px;
    height: 280px;
    background-color: gray;
    margin-top: 20px;
}

.post p {
    margin-left: 20px;
    margin-right: 20px;
    height:50px;
    text-align: left;
}